In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
cleaned_data = pd.read_csv('data for analysis/clean_data_after_eda.csv')

In [16]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  object
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  object
 6   date_end                        14606 non-null  object
 7   date_modif_prod                 14606 non-null  object
 8   date_renewal                    14606 non-null  object
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  float64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  object
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  object
 24  pow_max                         14606 non-null  float64
 25  var_year_price_off_peak_var     14606 non-null  float64
 26  var_year_price_peak_var         14606 non-null  float64
 27  var_year_price_mid_peak_var     14606 non-null  float64
 28  var_year_price_off_peak_fix     14606 non-null  float64
 29  var_year_price_peak_fix         14606 non-null  float64
 30  var_year_price_mid_peak_fix     14606 non-null  float64
 31  var_year_price_off_peak         14606 non-null  float64
 32  var_year_price_peak             14606 non-null  float64
 33  var_year_price_mid_peak         14606 non-null  float64
 34  var_6m_price_off_peak_var       14606 non-null  float64
 35  var_6m_price_peak_var           14606 non-null  float64
 36  var_6m_price_mid_peak_var       14606 non-null  float64
 37  var_6m_price_off_peak_fix       14606 non-null  float64
 38  var_6m_price_peak_fix           14606 non-null  float64
 39  var_6m_price_mid_peak_fix       14606 non-null  float64
 40  var_6m_price_off_peak           14606 non-null  float64
 41  var_6m_price_peak               14606 non-null  float64
 42  var_6m_price_mid_peak           14606 non-null  float64
 43  churn                           14606 non-null  int64
dtypes: float64(29), int64(7), object(8)
memory usage: 4.9+ MB

In [23]:
#convert to datetime column
for col in ['date_activ','date_end','date_modif_prod','date_renewal']:
    cleaned_data[col] = pd.to_datetime(cleaned_data[col])

In [34]:
#tenure column
cleaned_data['tenure'] = (cleaned_data['date_end'].dt.year - cleaned_data['date_activ'].dt.year)

In [35]:
cleaned_data['tenure'].value_counts()

tenure
4     3616
6     3413
7     2959
5     2903
3     1058
11     191
8      155
12     141
10      72
9       54
13      43
2        1
Name: count, dtype: int64

# Encoding

In [77]:
cleaned_data.select_dtypes(include='object')

,id,has_gas,origin_up
0,24011ae4ebbe3035111d65fa7c15bc57,t,lxidpiddsbxsbosboudacockeimpuepw
1,d29c2c54acc38ff3c0614d0a653813dd,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
2,764c75f661154dac3a6c254cd082ea7d,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
3,bba03439a292a1e166f80264c16191cb,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
4,149d57cf92fc41cf94415803a877cb4b,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
...,...,...,...
14601,18463073fb097fc0ac5d3e040f356987,t,lxidpiddsbxsbosboudacockeimpuepw
14602,d0a6f71671571ed83b2645d23af6de00,f,lxidpiddsbxsbosboudacockeimpuepw
14603,10e6828ddd62cbcf687cb74928c4c2d2,f,lxidpiddsbxsbosboudacockeimpuepw
14604,1cf20fd6206d7678d5bcafd28c53b4db,f,lxidpiddsbxsbosboudacockeimpuepw
14605,563dde550fd624d7352f3de77c0cdfcd,f,ldkssxwpmemidmecebumciepifcamkci

In [66]:

#Label encoding
channel_sales = ['foosdfpfkusacimwkcsosbicdxkicaua', 'MISSING',
       'lmkebamcaaclubfxadlmueccxoimlema',
       'usilxuppasemubllopkaafesmlibmsdf',
       'ewpakwlliwisiwduibdlfmalxowmwpci',
       'epumfxlbckeskwekxbiuasklxalciiuu',
       'sddiedcslfslkckwlfkdpoeeailfpeds',
       'fixdbufsefwooaasfcxdxadsiekoceaa']

label_encoder_4_channel_sales = {item:i for i,item in enumerate(channel_sales)} #creating the dict for label encoding 
cleaned_data['channel_sales'] = cleaned_data['channel_sales'].map(label_encoder_4_channel_sales)

In [78]:

#One hot encoding

cleaned_data['has_gas'] = cleaned_data['has_gas'].map({'f':0,'t':1})

In [83]:
#Label encoding

origin_up = ['lxidpiddsbxsbosboudacockeimpuepw',
       'kamkkxfxxuwbdslkwifmmcsiusiuosws',
       'ldkssxwpmemidmecebumciepifcamkci', 'MISSING',
       'usapbepcfoloekilkwsdiboslwaxobdp',
       'ewxeelcelemmiwuafmddpobolfuxioce']


label_encoder_4_originup = {item:i for i,item in enumerate(origin_up)}
cleaned_data['origin_up'] = cleaned_data['origin_up'].map(label_encoder_4_originup)

In [85]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  int64
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  datetime64[ns]
 6   date_end                        14606 non-null  datetime64[ns]
 7   date_modif_prod                 14606 non-null  datetime64[ns]
 8   date_renewal                    14606 non-null  datetime64[ns]
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  float64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  int64
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  int64
 24  pow_max                         14606 non-null  float64
 25  var_year_price_off_peak_var     14606 non-null  float64
 26  var_year_price_peak_var         14606 non-null  float64
 27  var_year_price_mid_peak_var     14606 non-null  float64
 28  var_year_price_off_peak_fix     14606 non-null  float64
 29  var_year_price_peak_fix         14606 non-null  float64
 30  var_year_price_mid_peak_fix     14606 non-null  float64
 31  var_year_price_off_peak         14606 non-null  float64
 32  var_year_price_peak             14606 non-null  float64
 33  var_year_price_mid_peak         14606 non-null  float64
 34  var_6m_price_off_peak_var       14606 non-null  float64
 35  var_6m_price_peak_var           14606 non-null  float64
 36  var_6m_price_mid_peak_var       14606 non-null  float64
 37  var_6m_price_off_peak_fix       14606 non-null  float64
 38  var_6m_price_peak_fix           14606 non-null  float64
 39  var_6m_price_mid_peak_fix       14606 non-null  float64
 40  var_6m_price_off_peak           14606 non-null  float64
 41  var_6m_price_peak               14606 non-null  float64
 42  var_6m_price_mid_peak           14606 non-null  float64
 43  churn                           14606 non-null  int64
 44  tenure                          14606 non-null  int32
dtypes: datetime64[ns](4), float64(29), int32(1), int64(10), object(1)
memory usage: 5.0+ MB

In [95]:
for col, new_col in zip(list(cleaned_data.select_dtypes(include='datetime64').columns),['month_activ', 'months_to_end', 'months_modif_prod', 'months_renewal']):
    cleaned_data[new_col] = cleaned_data[col].dt.month
    
    
cleaned_data.drop(list(cleaned_data.select_dtypes(include='datetime64').columns),inplace=True,axis=1)

In [96]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  int64
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   forecast_cons_12m               14606 non-null  float64
 6   forecast_cons_year              14606 non-null  int64
 7   forecast_discount_energy        14606 non-null  float64
 8   forecast_meter_rent_12m         14606 non-null  float64
 9   forecast_price_energy_off_peak  14606 non-null  float64
 10  forecast_price_energy_peak      14606 non-null  float64
 11  forecast_price_pow_off_peak     14606 non-null  float64
 12  has_gas                         14606 non-null  int64
 13  imp_cons                        14606 non-null  float64
 14  margin_gross_pow_ele            14606 non-null  float64
 15  margin_net_pow_ele              14606 non-null  float64
 16  nb_prod_act                     14606 non-null  int64
 17  net_margin                      14606 non-null  float64
 18  num_years_antig                 14606 non-null  int64
 19  origin_up                       14606 non-null  int64
 20  pow_max                         14606 non-null  float64
 21  var_year_price_off_peak_var     14606 non-null  float64
 22  var_year_price_peak_var         14606 non-null  float64
 23  var_year_price_mid_peak_var     14606 non-null  float64
 24  var_year_price_off_peak_fix     14606 non-null  float64
 25  var_year_price_peak_fix         14606 non-null  float64
 26  var_year_price_mid_peak_fix     14606 non-null  float64
 27  var_year_price_off_peak         14606 non-null  float64
 28  var_year_price_peak             14606 non-null  float64
 29  var_year_price_mid_peak         14606 non-null  float64
 30  var_6m_price_off_peak_var       14606 non-null  float64
 31  var_6m_price_peak_var           14606 non-null  float64
 32  var_6m_price_mid_peak_var       14606 non-null  float64
 33  var_6m_price_off_peak_fix       14606 non-null  float64
 34  var_6m_price_peak_fix           14606 non-null  float64
 35  var_6m_price_mid_peak_fix       14606 non-null  float64
 36  var_6m_price_off_peak           14606 non-null  float64
 37  var_6m_price_peak               14606 non-null  float64
 38  var_6m_price_mid_peak           14606 non-null  float64
 39  churn                           14606 non-null  int64
 40  tenure                          14606 non-null  int32
 41  month_activ                     14606 non-null  int32
 42  months_to_end                   14606 non-null  int32
 43  months_modif_prod               14606 non-null  int32
 44  months_renewal                  14606 non-null  int32
dtypes: float64(29), int32(5), int64(10), object(1)
memory usage: 4.7+ MB

In [98]:
cleaned_data.to_csv('FE_complted.csv',index=False)